{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="user-form">
        <form class="register-form" method="post" action="">
            {% csrf_token %}
            {% for field in registration_form %}
            <div class="input-row">
                <label>{{ field.label }}</label>
                {{ field }}
                <div class="form-help">
                    <i class="ri-information-line"></i>
                    <span class="help-message">{{ field.help_text }}</span>
                </div>
            </div>
            {% endfor %}
            <div class="submit-row">
                <button class="btn" type="submit">Register</button>
            </div>

            <a href="#">Forgot Password?</a>

            <div class="login-question">Already have an account? <a href="#">Login</a></div>
        </form>
    </div>
{% endblock %}