{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="user-form">
        <form class="register-form" method="post" action="">
            {% csrf_token %}
            {% for field in registration_form %}
            <div class="input-row">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <div class="submit-row">
                <button class="btn" type="submit">Register</button>
            </div>

            <div class="form-footer">
                <div class="forgot-password"><a href="#">Forgot Password?</a></div>
                <div class="login-question">Already have an account? <a href="#">Login</a></div>
            </div>

        </form>
    </div>
{% endblock %}