@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*------------Variables------------*/

/*-----Fonts-----*/
$body-font: 'Poppins', sans-serif;
$title-font: 'Poppins', sans-serif;

/*-----Container-----*/
$container-400: 1000px;
$side-space: 15px;
$padding-400: 15px;
$padding-500: 25px;

/*-----Other-----*/
$radius-400: 5px;
$radius-500: 8px;
$radius-600: 15px;

/*------------Theme colors------------*/
$colors: (
    body-bg: #F1F1F1,
    app-bg: #F8F8F8,
    white: #fff,
    primary: #1079B5,
    primary-alt: #0D4B6D,
    text-body: #383838,
    light-bg: #DAEEFA,
    placeholder: #A7A7A7,
    message-info: #D7F7F9,
    message-succes: #DDF2C8,
    message-error: #FFC6C6,
    theme-changer:#161616,
    border: #0000001a,
    dark: #161616,
    black: #000,
);

$colors-dark: (
    body-bg: #0e0e0e,
    app-bg: #121212,
    white: #242424,
    primary: #1079B5,
    primary-alt: #0D4B6D,
    text-body: white,
    light-bg: #DAEEFA,
    placeholder: #A7A7A7,
    message-info: #D7F7F9,
    message-succes: #DDF2C8,
    message-error: #FFC6C6,
    theme-changer:#fff,
    border: #ffffff45,
    dark: #fff,
    black: #fff,
);


html {
    @each $color_name, $color in $colors{
        --color-#{$color-name}: #{$color};
    }
}

html[theme="dark"] {
    @each $color_name, $color in $colors-dark{
        --color-#{$color-name}: #{$color};
    }
}

@function getColor( $color ){
    @return var(--color-#{$color});
}

#theme-changer{
    background-color: transparent;
    color: getColor(theme-changer);
    border: none;
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
}


/*------------Reset------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------Global------------*/
body{
    background-color: getColor(body-bg);
    padding: $side-space;
    color: getColor(text-body);
    font-size: 15px;
    line-height: 1.4;
    font-family: $body-font;
    font-weight: 400;
}

.app-container{
    width: 100%;
    max-width: $container-400 + $side-space * 2;
    margin: 0 auto;

    > .row{
        background-color: getColor(white);
        border-radius: $radius-600;
        padding: $padding-500;
        display: flex;
        flex-direction: column;

        main{
            margin-top: $padding-400;
            padding: $padding-400;
            background-color: getColor(app-bg);
            border-radius: $radius-600;
            flex-grow: 1;
        }
    }
}

a {
    text-decoration: none;
    color: getColor(primary);
}


/*-----Buttons-----*/
.btn{
    display: inline-flex;
    align-items: center;
    line-height: 40px;
    padding: 0 20px;
    font-family: $body-font;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    background-color: getColor(primary);
    color: white;
    border-radius: $radius-400;

    i {
        font-weight: 400;
        margin-right: 5px;
        font-size: 11px;
    }
}


/*------------Header------------*/
#header {
    display: flex;
    align-items: center;
    height: 45px;
    border: 1px solid getColor(border);
    border-radius: $radius-600;
    padding: 0 $padding-400;

    > .row {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .logo a{
        display: flex;
        align-items: center;

        i{
            font-size: 23px;
            margin-right: 10px;
        }

        span{
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;

            strong{
                font-weight: 700;
                color: getColor(black)
            }
        }
    }

    .nav-list {
        list-style: none;
        display: flex;
    }

    .header-buttons {

            .btn{
                line-height: 30px;
            }
    }
}

#offcanvas-toggler,
#offcanvas-close{
    display: none;
}

@media (max-width: $container-400 - 1) {

    #offcanvas-toggler {
        display: block;
        margin-left: 20px;
        width: 25px;
        height: 12px;
        background-color: transparent;
        border: none;
        position: relative;
        cursor: pointer;

        &::before, &::after {
            content: '';
        }

        &::before, &::after, span {
            width: 100%;
            height: 2px;
            background-color: getColor(dark);
            position: absolute;
            left: 0;
        }

        &::before{
            top: 0;
        }

        &::after{
            bottom: 0;
        }

        span {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    #nav{
        position: fixed;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        left: 100%;
        top: 0;
        padding: 50px;
        background-color: getColor(primary);
        transition: transform .3s;
        z-index: 5;

        #offcanvas-close {
            width: 30px;
            height: 30px;
            background-color: transparent;
            border: none;
            position: absolute;
            right: 20px;
            top: 20px;
            display: block;
            cursor: pointer;

            &::before, &:after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: white;
                position: absolute;
                left: 0;
                top: 50%;
            }

            &::before {
                transform: translateY(-50%) rotate(-45deg);
            }

            &::after {
                transform: translateY(-50%) rotate(45deg);
            }
        }

        &.active{
            transform: translateX(-100%);
        }

        .nav-list {
            flex-direction: column;
            margin-bottom: 15px;

            .nav-item{
                margin: 10px 0 !important;
            }

            .nav-link {
                color: white;
            }
        }

        .header-buttons {
            margin: 0;

            .btn{
                border: 1px solid white;
            }
        }
    }
}



/*------------Messages------------*/
.messages-container{
    text-align: center;

    .message {
        margin-bottom: 15px;
        padding: $padding-400 10px;
        text-align: center;
        border-radius: $radius-500;
        color: #383838;

        &:last-child{
            margin-bottom: 0;
        }

        &.info{
            background-color: getColor(message-info);
        }

        &.succes{
            background-color: getColor(message-succes);
        }

        a{
            font-weight: bold;
        }
    }
}

















/*------------Breakpoints------------*/

@media (min-width: $container-400) {

    /*-----Container-----*/
    $padding-400: 25px;
    $padding-500: 40px;

    /*-----Other-----*/
    $radius-500: 10px;
    $radius-600: 20px;

    body {
        background-color: var(--color-body-bg);
        padding: 15px;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }

    #theme-changer {
        position: fixed;
        right: 30px;
        top: 30px;
    }

    .app-container{
        > .row{
            min-height: 650px;
            border-radius: $radius-600;
            padding: $padding-500;

            main{
                margin-top: $padding-400;
                padding: $padding-400;
                border-radius: $radius-600;
            }
        }
    }

    #header {
        height: 60px;
        border-radius: $radius-600;
        padding: 0 $padding-400;

        #nav {
            margin-left: auto;
            display: flex;
            align-items: center;
        }

        .nav-list {
            margin-right: 35px;

            .nav-item{
                margin-left: 30px;

                &:first-child{
                    margin: 0;
                }

                .nav-link{
                    color: getColor(black);
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }
    }

    .messages-container{

        .message {
            padding: $padding-400 10px;
            border-radius: $radius-500;
        }
    }

}







