@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

//variables
$container-400: 1100px;
$side-space: 60px;
$body-bg: #DFCCFB;
$header-bg: #663aff;
$app-bg: #D0BFFF;
$main-color: #BEADFA;
$radius-400: 7px;
$radius-600: 15px;
$text-font: 'Poppins', sans-serif;


//reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//global
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $body-bg;
    font-family: $text-font;
    font-size: 15px;
}
a {
    text-decoration: unset;
}
.to-do-wrapper{
    width: 100%;
    max-width: $container-400;
    padding: 0 $side-space;
}
.to-do-wrapper > .row{
    background-color: $main-color;
    border-radius: $radius-600;
    padding: 50px;
    box-shadow: 5px 5px 15px #533da06e;
}

.to-do-wrapper main{
    background-color: $app-bg;
    margin-top: 20px;
    padding: 35px;
    border-radius: $radius-600;
}
.btn{
    line-height: 40px;
    padding: 0 25px;
    border-radius: $radius-400;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

//header
#header {
    background-color: $header-bg;
    padding: 20px 35px;
    border-radius: $radius-400;
}

#header .row{
    display: flex;
    align-items: center;
}

#header .logo a {
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}

#header .logo span{
    font-weight: 600;
}

#header .logo i {
    font-size: 35px;
    margin-right: 10px;
}

#header nav{
    margin-left: auto;
}

#header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#header nav ul li {
    margin-left: 20px;
}

#header nav ul li a{
    color: white;
    font-size: 16px;
}

#header #header-button {
    margin-left: 60px;
    border: 2px solid white;
    background-color: white;
    color: black;
}

//messages
.message-container{
    text-align: center;
}

//user form
#user-form form {
    .input-row,
    .submit-row {
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        background-color: $body-bg;
        border-radius: $radius-400;
        height: 45px;
        outline: none;
        border: 2px solid transparent;
        padding: 0 20px;
        font-family: inherit;

        &:focus{
            border-color: $header-bg;
        }
    }

    label{
        margin-bottom: 5px;
        display: inline-block;
    }

    .submit-row button {
        border: 2px solid white;
        background-color: white;
        color: black;
        width: 100%;
        font-family: inherit;
        transition: background-color .4s;

        &:hover{
            background-color: $header-bg;
            color: white;
        }
    }

}






















