{% load sass_tags %}
{% load static %}
{% load compress %}

<!--<!doctype html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% sass_src 'core/styles.scss' %}">
    {% endcompress %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    {% if title %}
        <title>{% block title %}{% endblock %} | To Do App</title>
    {% else %}
        <title>To Do App</title>
    {% endif %}
</head>
<body>

    {% if messages %}
        {% for message in messages %}
            <div class="message-container">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <section class="to-do-wrapper">
            <div class="row">
               <header id="header">
                <div class="container">
                    <div class="row">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <i class="ri-list-check-3"></i>
                                <span>todo list</span>
                            </a>
                        </div>

                        <nav id="nav">
                            <ul>
                                <li>
                                    <a href="{% url 'index' %}">Home</a>
                                </li>

                                <li>
                                    <a href="#">Sign in</a>
                                </li>

                                <li>
                                    <a href="#">Profile</a>
                                </li>

                                <li>
                                    <a href="#">Log out</a>
                                </li>
                            </ul>
                        </nav>

                        <a href="{% url 'register' %}" id="header-button" class="btn">
                            <i class="ri-user-add-fill"></i>
                            <span>Register</span>
                        </a>
                    </div>
                </div>
                </header>

                <main>
                    {% block content %}{% endblock %}
                </main>
            </div>
    </section>

    <script src="{% static 'core/scripts.js' %}"></script>
</body>
</html>