{% load sass_tags %}
{% load static %}
{% load compress %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% compress css %}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'core/styles.scss' %}">
    {% endcompress %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    {% if title %}
    <title>{% block title %}{% endblock %} | To Do App</title>
    {% else %}
    <title>To Do App</title>
    {% endif %}
</head>
<body>

<section class="app-container">
    <div class="row">
        {% block header %}
        {% include 'core/header.html' %}
        {% endblock %}
        <main>
            {% if messages %}
            {% for message in messages %}
            <div class="message-popup {{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </main>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'core/scripts.js' %}"></script>

</body>

</html>