{% load sass_tags %}
{% load static %}
{% load compress %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% sass_src 'core/styles.scss' %}">
    {% endcompress %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>{% block title %}{% endblock %} | To Do</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
    <script src="{% static 'core/scripts.js' %}"></script>
</body>
</html>