{% block header %}
<header id="header">
    <div class="row">
        <div class="logo">
            <a href="{% url 'index' %}">
                <i class="ri-list-check-3"></i>
                <span><strong>to do</strong> app</span>
            </a>
        </div>

        <nav id="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'support' %}">Support</a>
                </li>

                {% if not user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>

                {% endif %}
            </ul>

            {% if not user.is_authenticated %}

            <div class="header-buttons">

                <a href="{% url 'register' %}" class="btn header-button">
                    <i class="ri-user-add-fill"></i>
                    <span>Register</span>
                </a>

            </div>

            {% endif %}

            <button id="offcanvas-close" class="offcanvas-close"></button>

        </nav>

        <button id="theme-changer">
            <i class="ri-moon-fill"></i>
        </button>

        {% if user.is_authenticated %}

        <div id="header-user">
            <div class="header-user-wrapper">

                <div class="user-toggle">
                    <div class="user-info">
                        <a href="{% url 'account-settings' %}" class="user-avatar">
                            <img src="{{ user.profile.image.url }}" alt="">
                        </a>

                        <div class="user-greeting">
                            Hello,
                            <a href="{% url 'account-settings' %}" class="user-name">{{ user.username }}</a>
                        </div>
                    </div>

                    <i id="header-user-toggler" class="ri-arrow-down-s-line"></i>
                </div>

                <ul class="user-menu">
                    <li class="user-menu-item">
                        <a href="{% url 'account-settings' %}" class="user-menu-link">
                            <i class="ri-user-settings-line"></i>
                            Settings
                        </a>
                    </li>

                    <li class="user-menu-item">
                        <a href="{% url 'logout' %}" class="user-menu-link">
                            <i class="ri-logout-box-r-line"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {% endif %}

        <button id="offcanvas-toggler" class="offcanvas-toggler">
            <span></span>
        </button>

    </div>
</header>
{% endblock %}