{% block header %}
<header id="header">
    <div class="container">
        <div class="row">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <i class="ri-list-check-3"></i>
                    <span>todo list</span>
                </a>
            </div>

            {% block nav %}
            {% include 'core/navbar.html' %}
            {% endblock %}

            <button id="offcanvas-toggler" class="offcanvas-toggler">
                <span></span>
            </button>

        </div>
    </div>
</header>
{% endblock %}