{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div id="user-form">
    <form class="contact-form" method="post" action="">
        {% csrf_token %}
        <div class="form-row">
            <label>{{ contact_form.full_name.label }}</label>
            {{ contact_form.full_name }}
        </div>
        <div class="form-row">
            <label>{{ contact_form.email.label }}</label>
            {{ contact_form.email }}
        </div>
        <div class="form-row">
            <label>{{ contact_form.mobile_phone.label }}</label>
            {{ contact_form.mobile_phone }}
        </div>
        <div class="form-row">
            <label>{{ contact_form.message.label }}</label>
            {{ contact_form.message }}
        </div>
        <div class="form-row">
            <label>{{ contact_form.file.label }}</label>
            {{ contact_form.file }}
        </div>
        <div class="submit-row">
            <button class="btn" type="submit">
                <i class="ri-mail-send-line"></i>
                Send E-mail
            </button>
        </div>
    </form>
</div>
{% endblock %}