{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="user-settings">
    <form class="register-form" method="post" action="">
        {% csrf_token %}
        <div class="form-row">
            {{ user_update_form.first_name.label }}
            {{ user_update_form.first_name }}
        </div>
        <div class="form-row">
            {{ profile_update_form.last_name.label }}
            {{ profile_update_form.last_name }}
        </div>
        <div class="form-row">
            {{ user_update_form.username.label }}
            {{ user_update_form.username }}
        </div>
        <div class="form-row">
            {{ user_update_form.email.label }}
            {{ user_update_form.email }}
        </div>
        <div class="form-row">
            {{ user_update_form.image.label }}
            {{ user_update_form.image }}
        </div>
        <div class="submit-row">
            <button class="btn" type="submit">Change</button>
        </div>
    </form>
</div>
{% endblock %}