{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div id="user-form">
    <form class="login-form" method="post" action="">
        {% csrf_token %}
        <div class="input-row">
            <label>{{ password_change_form.new_password1.label }}</label>
            {{ password_change_form.new_password1 }}
        </div>
        <div class="input-row">
            <label>{{ password_change_form.new_password2.label }}</label>
            {{ password_change_form.new_password2 }}
        </div>
        <div class="submit-row">
            <button class="btn" type="submit">Set Password</button>
        </div>


    </form>
</div>
{% endblock %}