{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div id="user-form">
    <form class="login-form" method="post" action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="input-container">
                <label>{{ login_form.username.label }}</label>
                {{ login_form.username }}
            </div>
            <div class="input-container">
                <label>{{ login_form.password1.label }}</label>
                {{ login_form.password1 }}
            </div>
        </div>
        <div class="submit-row">
            <button class="btn" type="submit">
                <i class="ri-login-circle-line"></i>
                Login
            </button>
        </div>


        <div class="form-footer">
            <div class="login-question">Don't have an account? <a href="{% url 'register' %}">Register</a>.</div>
            <div class="forgot-password"><a href="{% url 'reset-password' %}">Forgot Password?</a></div>
        </div>

    </form>
</div>
{% endblock %}