{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div id="user-form">
    <form class="login-form" method="post" action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="input-wrapper">
                <label>{{ reset_form.email.label }}</label>
                {{ reset_form.email }}
                <ul>
                    {% if reset_form.email.errors %}
                    {% for error in reset_form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="submit-row">
            <button class="btn" type="submit">Send E-mail</button>
        </div>

    </form>
</div>
{% endblock %}
