@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DFCCFB;
  font-family: "Poppins", sans-serif;
  font-size: 15px; }

a {
  text-decoration: unset;
  color: #663aff; }

.to-do-wrapper {
  width: 100%;
  max-width: 1100px;
  padding: 0 15px; }

.to-do-wrapper > .row {
  background-color: #BEADFA;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 15px #533da06e;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  margin: 20px 0; }

.to-do-wrapper main {
  background-color: #D0BFFF;
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  flex-grow: 1; }

.btn {
  display: inline-block;
  line-height: 40px;
  padding: 0 25px;
  border-radius: 7px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600; }

#header {
  background-color: #663aff;
  padding: 10px 15px;
  border-radius: 7px; }

#header .row {
  display: flex;
  align-items: center; }

#header .logo a {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 25px; }

#header .logo span {
  font-weight: 600; }

#header .logo i {
  font-size: 35px;
  margin-right: 10px; }

#header nav {
  margin-left: auto;
  display: flex;
  align-items: center; }

#header nav ul {
  list-style: none;
  display: flex;
  align-items: center; }

#header nav ul li {
  margin-left: 20px; }

#header nav ul li a {
  color: white;
  font-size: 16px; }

#offcanvas-close {
  display: none; }

#header .header-buttons {
  margin-left: 40px; }

#header .header-button {
  border: 2px solid white;
  background-color: white;
  color: black; }

@media (max-width: 1099px) {
  #offcanvas-toggler {
    margin-left: auto;
    width: 30px;
    height: 18px;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer; }
    #offcanvas-toggler::before, #offcanvas-toggler::after {
      content: ''; }
    #offcanvas-toggler::before, #offcanvas-toggler::after, #offcanvas-toggler span {
      width: 100%;
      height: 2px;
      background-color: white;
      position: absolute;
      left: 0; }
    #offcanvas-toggler::before {
      top: 0; }
    #offcanvas-toggler::after {
      bottom: 0; }
    #offcanvas-toggler span {
      top: 50%;
      transform: translateY(-50%); }
  #nav {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    padding: 50px;
    background-color: #663aff;
    transition: transform .3s;
    z-index: 5; }
    #nav #offcanvas-close {
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: none;
      position: absolute;
      right: 20px;
      top: 20px;
      display: block;
      cursor: pointer; }
      #nav #offcanvas-close::before, #nav #offcanvas-close:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        left: 0;
        top: 50%; }
      #nav #offcanvas-close::before {
        transform: translateY(-50%) rotate(-45deg); }
      #nav #offcanvas-close::after {
        transform: translateY(-50%) rotate(45deg); }
    #nav.active {
      transform: translateX(-100%); }
    #nav ul {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px; }
      #nav ul li {
        margin: 10px 0 !important; }
    #nav .header-buttons {
      margin: 0; } }

.message-container {
  text-align: center;
  background-color: #9cd39c;
  padding: 30px;
  border-radius: 15px;
  margin: 20px 0; }
  .message-container:first-child {
    margin-top: 0; }

#user-form form .input-row,
#user-form form .submit-row {
  margin-bottom: 15px; }

#user-form form input, #user-form form textarea {
  width: 100%;
  background-color: #DFCCFB;
  border-radius: 7px;
  height: 45px;
  outline: none;
  border: 2px solid transparent;
  padding: 0 20px;
  font-family: inherit; }
  #user-form form input:focus, #user-form form textarea:focus {
    border-color: #663aff; }

#user-form form input[type="file"] {
  background-color: transparent;
  height: unset;
  padding: 0; }

#user-form form textarea {
  height: 120px;
  padding-top: 15px; }

#user-form form label {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  position: relative; }

#user-form form label.required::after {
  content: "\002A";
  color: #db2222;
  margin-left: 5px; }

#user-form form .submit-row {
  margin-top: 30px;
  margin-bottom: 0; }
  #user-form form .submit-row button {
    border: 2px solid white;
    background-color: white;
    color: black;
    width: 100%;
    font-family: inherit;
    transition: background-color .4s;
    cursor: pointer; }
    #user-form form .submit-row button:hover {
      background-color: #663aff;
      color: white; }

#user-form form .form-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px; }
  #user-form form .form-footer > div {
    margin-bottom: 5px; }

#user-form form ul.errorlist {
  margin-bottom: 8px;
  padding-left: 20px;
  color: #d21010;
  font-size: 13px; }

@media (min-width: 1100px) {
  .to-do-wrapper {
    padding: 0 60px; }
  .to-do-wrapper > .row {
    padding: 50px;
    min-height: unset; }
  #header {
    padding: 20px 35px; }
  #offcanvas-toggler {
    display: none; }
  .to-do-wrapper main {
    padding: 35px; }
  #user-form form .form-footer {
    flex-direction: row; }
    #user-form form .form-footer > row {
      margin: 0; } }

/*# sourceMappingURL=styles.css.map */