@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*------------Variables------------*/
/*-----Fonts-----*/
/*-----Container-----*/
/*-----Other-----*/
/*------------Theme colors------------*/
html {
  --color-body-bg: #F1F1F1;
  --color-app-bg: #F8F8F8;
  --color-white: #fff;
  --color-primary: #1079B5;
  --color-primary-alt: #0D4B6D;
  --color-text-body: #383838;
  --color-light-bg: #DAEEFA;
  --color-placeholder: #A7A7A7;
  --color-message-info: #D7F7F9;
  --color-message-succes: #DDF2C8;
  --color-message-error: #FFC6C6;
  --color-theme-changer: #161616;
  --color-border: #0000001a;
  --color-dark: #161616;
  --color-black: #000; }

html[theme="dark"] {
  --color-body-bg: #0e0e0e;
  --color-app-bg: #121212;
  --color-white: #242424;
  --color-primary: #1079B5;
  --color-primary-alt: #0D4B6D;
  --color-text-body: white;
  --color-light-bg: #DAEEFA;
  --color-placeholder: #A7A7A7;
  --color-message-info: #D7F7F9;
  --color-message-succes: #DDF2C8;
  --color-message-error: #FFC6C6;
  --color-theme-changer: #fff;
  --color-border: #ffffff45;
  --color-dark: #fff;
  --color-black: #fff; }

#theme-changer {
  background-color: transparent;
  color: var(--color-theme-changer);
  border: none;
  margin-left: auto;
  font-size: 20px;
  cursor: pointer; }

/*------------Reset------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*------------Global------------*/
body {
  background-color: var(--color-body-bg);
  padding: 15px;
  color: var(--color-text-body);
  font-size: 15px;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.app-container {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto; }
  .app-container > .row {
    background-color: var(--color-white);
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column; }
    .app-container > .row main {
      margin-top: 15px;
      padding: 15px;
      background-color: var(--color-app-bg);
      border-radius: 15px;
      flex-grow: 1; }

a {
  text-decoration: none;
  color: var(--color-primary); }

/*-----Buttons-----*/
.btn {
  display: inline-flex;
  align-items: center;
  line-height: 40px;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  background-color: var(--color-primary);
  color: white;
  border-radius: 5px; }
  .btn i {
    font-weight: 400;
    margin-right: 5px;
    font-size: 11px; }

/*------------Header------------*/
#header {
  display: flex;
  align-items: center;
  height: 45px;
  border: 1px solid var(--color-border);
  border-radius: 15px;
  padding: 0 15px; }
  #header > .row {
    width: 100%;
    display: flex;
    align-items: center; }
  #header .logo a {
    display: flex;
    align-items: center; }
    #header .logo a i {
      font-size: 23px;
      margin-right: 10px; }
    #header .logo a span {
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase; }
      #header .logo a span strong {
        font-weight: 700;
        color: var(--color-black); }
  #header .nav-list {
    list-style: none;
    display: flex; }
  #header .header-buttons .btn {
    line-height: 30px; }

#offcanvas-toggler,
#offcanvas-close {
  display: none; }

@media (max-width: 999px) {
  #offcanvas-toggler {
    display: block;
    margin-left: 20px;
    width: 25px;
    height: 12px;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer; }
    #offcanvas-toggler::before, #offcanvas-toggler::after {
      content: ''; }
    #offcanvas-toggler::before, #offcanvas-toggler::after, #offcanvas-toggler span {
      width: 100%;
      height: 2px;
      background-color: var(--color-dark);
      position: absolute;
      left: 0; }
    #offcanvas-toggler::before {
      top: 0; }
    #offcanvas-toggler::after {
      bottom: 0; }
    #offcanvas-toggler span {
      top: 50%;
      transform: translateY(-50%); }
  #nav {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    padding: 50px;
    background-color: var(--color-primary);
    transition: transform .3s;
    z-index: 5; }
    #nav #offcanvas-close {
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: none;
      position: absolute;
      right: 20px;
      top: 20px;
      display: block;
      cursor: pointer; }
      #nav #offcanvas-close::before, #nav #offcanvas-close:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: white;
        position: absolute;
        left: 0;
        top: 50%; }
      #nav #offcanvas-close::before {
        transform: translateY(-50%) rotate(-45deg); }
      #nav #offcanvas-close::after {
        transform: translateY(-50%) rotate(45deg); }
    #nav.active {
      transform: translateX(-100%); }
    #nav .nav-list {
      flex-direction: column;
      margin-bottom: 15px; }
      #nav .nav-list .nav-item {
        margin: 10px 0 !important; }
      #nav .nav-list .nav-link {
        color: white; }
    #nav .header-buttons {
      margin: 0; }
      #nav .header-buttons .btn {
        border: 1px solid white; } }

/*------------Messages------------*/
.messages-container {
  text-align: center; }
  .messages-container .message {
    margin-bottom: 15px;
    padding: 15px 10px;
    text-align: center;
    border-radius: 8px;
    color: #383838; }
    .messages-container .message:last-child {
      margin-bottom: 0; }
    .messages-container .message.info {
      background-color: var(--color-message-info); }
    .messages-container .message.succes {
      background-color: var(--color-message-succes); }
    .messages-container .message a {
      font-weight: bold; }

/*------------Breakpoints------------*/
@media (min-width: 1000px) {
  /*-----Container-----*/
  /*-----Other-----*/
  body {
    background-color: var(--color-body-bg);
    padding: 15px;
    min-height: 100vh;
    display: flex;
    align-items: center; }
  #theme-changer {
    position: fixed;
    right: 30px;
    top: 30px; }
  .app-container > .row {
    min-height: 650px;
    border-radius: 20px;
    padding: 40px; }
    .app-container > .row main {
      margin-top: 25px;
      padding: 25px;
      border-radius: 20px; }
  #header {
    height: 60px;
    border-radius: 20px;
    padding: 0 25px; }
    #header #nav {
      margin-left: auto;
      display: flex;
      align-items: center; }
    #header .nav-list {
      margin-right: 35px; }
      #header .nav-list .nav-item {
        margin-left: 30px; }
        #header .nav-list .nav-item:first-child {
          margin: 0; }
        #header .nav-list .nav-item .nav-link {
          color: var(--color-black);
          font-size: 13px;
          font-weight: 400; }
  .messages-container .message {
    padding: 25px 10px;
    border-radius: 10px; } }

/*# sourceMappingURL=styles.css.map */