{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="side-content to-do-list-wrapper categories-wrapper" xmlns="http://www.w3.org/1999/html">
    <aside>
        <h4 class="sidebar-title categories-title">Categories</h4>
        {% if categories %}
        <ul class="categories-list">
            {% for category in categories %}
            <li data-id="{{ category.id }}">
                <span>{{ category }}</span>
                <button class="remove-category">
                    <i class="ri-delete-bin-line"></i>
                </button>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="no-items-message">No categories</p>
        {% endif %}

        <button class="btn add-category-btn" type="submit">
            <i class="ri-play-list-add-line"></i>
            Add Category
        </button>
    </aside>

    <div class="side-content-body to-do-list-contents categories-content-body">
        {% if categories %}
        {% for category in categories %}
        <div class="category-content" data-id="{{ category.id }}">
            <h3 class="category-title">{{ category }}</h3>

            {% if tasks %}
            {% for task in tasks %}
            {% if task.category == category %}
            <ul class="tasks-list">
                <li>{{ task.name }}</li>
            </ul>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p class="no-items-message">No items in the current list. Add new ones.</p>
        {% endif %}
    </div>
</div>
{% endblock %}