{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% if categories %}
<ul>
    {% for category in categories %}
    <li>{{ category }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="tab-content">
    <form method="post" action="">
        {% csrf_token %}

        <div class="form-row">
            <div class="input-wrapper">
                <label>{{ category_form.category.label }}</label>
                {{ category_form.category }}
                <ul>
                    {% if category_form.category.errors %}
                    {% for error in category_form.category.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="submit-row">
            <button class="btn" type="submit">
                <i class="ri-loop-left-line"></i>
                Add Category
            </button>
        </div>

    </form>
</div>
{% endblock %}